<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 text-center">
      <p>With a Bachelor’s in Human Physiology from the University of Oregon, I developed a strong ability to analyze data and apply scientific
      methods to extract meaningful insights. Building on this foundation, I earned a Master’s in Data Science from Willamette University,
      where I advanced my skills in data analysis, visualization, and project management. Proficient in R, SQL, Python, and other data tools, I
      also bring experience in leading teams, optimizing operations, and delivering exceptional customer service. Passionate about leveraging
      data to solve problems and improve business outcomes. </p>
    </div>
    <div class="col-lg-4 text-center">
      <p>I am eager to apply my expertise in data science and contribute to your team's success! </p>
    </div>
  </div>
</div>
    </div>
  </div>
</section>
